body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: max-content;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
}